.soixante-pour-cent{
  width: 100%;

  .centered{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;}
  
  .vingt-pour-cent{
    width: 33%;
    background-color:rgb(173, 27, 27);
    margin-left: auto;
    margin-right: auto;
    padding: initial+2px;
    float : left;
  
  }
  
}


